@{
    ViewBag.Title = "Contact";
}


<form role="form" method="post">
    <div class="form-group">
        <label for="email">Email address</label><input class="form-control" id="email" type="email" name="email" />
    </div>
    <div class="form-group">
        <label for="comment">Comment</label><input class="form-control" id="comment" type="text" name="comment" />
    </div>
 <button type="submit" class="btn btn-default">Submit</button>
</form>