@{
    ViewBag.Title = "Home Page";
}

<div>
    <div class="jumbotron">
        <h1>
            Hello, e-conomic!
        </h1>
        <p>
            Try out this cool web app for time registration!
        </p>
        <p>
            @Html.ActionLink("Begin", "TimeRegistration", null, new { @class = "btn btn-primary btn-large" })
        </p>
    </div>

@{ Html.RenderPartial("_Loginpartial");}

</div>
